@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body, html{
    background-color: rgb(176, 201, 255);
}

header {
    background-color: rgb(36, 27, 155);    
}

header h1 {
    text-align: center;
    padding: 10px;  
    color: white; 
}

span#burguer {
    background-color: rgb(54, 54, 54);
    display: block;
    color: white;
    cursor: pointer;
    text-align: center;
    
}
span#burguer:hover {
    background-color: white;
    color: black;
}

menu{
    display: none;
}

menu ul {
    list-style: none;
    text-align: center;
}

menu a {
    display: block;
    background-color:rgba(20, 13, 117, 0.925);
    border-radius: 5px;
    text-decoration: none;
    color: white;
    margin-top: 2px;
    padding: 10px;
}

menu a:hover {
    background-color: rgba(0, 0, 0, 0.63);
    color: yellowgreen;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
     background-color: white;
    border-radius: 5px;
    width: 85%;
    min-height: 70vh;
    margin:auto;
    padding: 10px;   
}

main h2{
    text-align: center;
    margin-bottom: 10px;
}

main p{
    text-align: justify;
    text-indent: 20px;
    margin-bottom: 10px;
}

footer {
    background-color:rgb(36, 27, 155);
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
}