@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    background-color: rgb(33, 33, 33);
    color: white;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: black;
    margin-bottom: 20px;
    padding: 10px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header img {
    border: 1px dotted white;
    width: 85px;
    margin: 0px 20px;
}

header h1 {
    border: 1px dotted white;
}

header nav {
    border: 1px dotted white;

    display: flex;
    flex-flow: row wrap;
}

header nav a {
    background-color: cornflowerblue;
    color: black;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

header nav a:hover {
    background-color: rgb(137, 194, 22);
    transition: 0.8s;
}

main {
    background-color: gray;
    width: 80vw;
    border-radius: 10px;
    margin: auto;
    padding: 20px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.657);
}

main h2 {
    border: 1px dotted black;
    color: black;
    margin-bottom: 20px;
}

main p {
    text-align: justify;
    text-indent: 20px;
    line-height: 1.5em;
}


footer {
    background-color: black;
    text-align: center;
    font-size: 0.8em;
    margin-top: 20px;
    padding: 10px;
}
